version: '3'

services:
#  mysql-standalone:
#    image: mysql:5.7
#    environment:
#      - MYSQL_ROOT_PASSWORD=admin
#      - MYSQL_DATABASE=projectDatabase
#      - MYSQL_PASSWORD=admin
  springboot-docker-container:
    image: springboot-image:springboot-image-v1.1
    ports:
      - 8081:8080
    privileged: true
    volumes:
      - /mnt/c/Users/ProBook/AutoBackup:/root/AutoBackup
    build:
      context: ./
      dockerfile: Dockerfile
#    depends_on:
#      - mysql-standalone
    restart: always