<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    
	    <title>Add Backup</title>
	    
		<link rel="stylesheet" href="static/styles.css"/>
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<style> 
			form {
				margin: auto;
				width: 90%;
				padding: 10px;
			}
			#time, #storageType {
				background-color: white;
				border: none;
				color: black;
				padding: 15px 32px;
				text-decoration: none;
				margin: 4px 2px;
				cursor: pointer;
			}
		</style>
	</head>

	<body>
		<div class="header" id="ScheduleBackup">
			<div class="container1">
				<div class="container1-card" style="width: 100%;">
					<div class="container1-card-left">
						<p>Schedule Backup</p>
						<i class='fa fa-clock-o' style="font-size:35px"></i>
					</div>
					<div class="container1-card-right">
						<form action="/add" method="post" enctype="multipart/form-data">
							<div>	
								<label for="browse">Browse</label><br>
								<div>
									<input type="file" onclick="FileUpload();" name="file" id="folderName" required="required"/><br><br>
								</div>
							</div>
							
							<div>
								<label for="time">Date</label><br>
								<input type="datetime-local" id="time" name="time" required="required" onclick="updateTime();"><br><br>
							</div><br>
							
							<p>NOTE: Location for storing backups on windows: <br> C:\users\%username%\AutoBackup\Backups</p> <br>
							<p>NOTE: Location for storing backups on Linux: <br> /root/AutoBackup/Backups</p>
							
                            <input type="submit" class="container1-button" value="Add Backup">
                            <input type="button" class="container1-button" onclick="history.back();" value="Back">
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			function FileUpload()
			{
				var path = document.getElementById("folderName").files;
				console.log(path);	
			}
			
			var uploadField = document.getElementById("folderName");

			uploadField.onchange = function() {
			    if(this.files[0].size > 20971520){
			       alert("Uploaded file size should be less than 20MB.");
			       this.value = "";
			    };
			};
			
			function updateTime()
			{
				var dtToday = new Date();
				var month = dtToday.getMonth() + 1;
				var day = dtToday.getDate();
				var year = dtToday.getFullYear();
				if(month < 10)
					month = '0' + month.toString();
				if(day < 10)
					day = '0' + day.toString();
				
				var hour = dtToday.getHours();
				var minute = dtToday.getMinutes();
				if(hour < 10)
					hour = '0' + hour.toString();
				if(minute < 10)
					minute = '0' + minute.toString();
				
				var maxDate = year + '-' + month + '-' + day + 'T' + hour + ':' + minute;
				$('#time').attr('min', maxDate);	
			}
			

		</script>
	</body>

</html>