<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">	
		
		<title>AutoBackup Application</title>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

		<link rel="stylesheet" href="static/styles.css"/>
		<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
		
		<script src="static/script.js"></script>
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
		<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<style> 
			select { text-align-last:center; padding-top: 10px; padding-bottom: 15px; }
		</style>
	</head>
	
	<body>
		<div class="header" id="ScheduleBackup">
			<div class="topnav" id="myTopnav">
			  <a href="#" class="fa fa-home"></a>
			  <a href="#ScheduleBackup">Schedule Backup</a>
			  <a href="#BackupHistory">Backup History</a>
			  <a href="#AboutApplication">About Application</a>
			  <a href="#contact">Contact Me</a>
			  <a class="icon" onclick="openNav()"><i class='fa fa-bars'></i></a>
			</div>
			
			<div id="mySidenav" class="sidenav">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			  <a href="#ScheduleBackup" onclick="closeNav()">Schedule Backup</a>
			  <a href="#BackupHistory" onclick="closeNav()">Backup History</a>
			  <a href="#AboutApplication" onclick="closeNav()">About Application</a>
			  <a href="#contact" onclick="closeNav()">Contact Me</a>
			</div>

			<div class="container1">
				<div class="container1-card">
					<div class="container1-card-left">
						<p>Schedule Backup</p>
						<i class='fa fa-clock-o' style="font-size:35px"></i>
					</div>
					<div class="container1-card-right">
						<h3>Schedule Backup</h3>
						<p>Using this feature you can schedule backups to store files and later you can keep track of the changes made to these files at any time.</p>
						<a href="showForm"><button class="container1-button">Schedule Backup &raquo;</button></a>
					</div>
				</div>
			</div>
		</div>

		<div class="middle">	
			<div class="container2" id="BackupHistory">
				<h1>Backup History</h1>
				<p>The table below provides a clear summary record of backups.</p>
				<div id="myTable" style="overflow-x:auto; margin: 0 auto; padding-bottom: 50px; padding-top: 50px; width: 70%">
					<table id="myTableTag" class="display nowrap" width="100%">
						<thead>
							<tr>
								<th>ID</th>
								<th>Folder Name</th>
								<th>Time</th>
								<th>Status</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="backup : ${backups}">
								<td th:text="${backup.id}"></td>
								<td th:text="${backup.folderName}"></td>
								<td th:text="${backup.time}"></td>
								<td th:text="${backup.status}"></td>
								<td><a th:href="@{/delete/{id}(id=${backup.id})}"><button class="container2-button"><i style='font-size:24px' class='fa fa-remove'></i></button></a></td>
							</tr>
						</tbody>
					</table>
				  </div>
			</div>

			<div class="container2" id="Graph">
				<h1>Graph</h1>
				<p>The graph gives information about the status of backups. It shows how many backups are in progress or done or failed.</p>
				<div id="myChart" style="height: 400px"></div>
			</div>
			
			<div class="container4"  id="AboutApplication">
				<div class="container4-column" style="background-color: #def2f1;">
					<div class="container4-column-content" id="left">
						<i style='font-size:80px' class='fa fa-question-circle'></i>
					</div>
				</div>
				<div class="container4-column" style="background-color: #def2f1;">
					<div class="container4-column-content" id="right">
						<h3>About AutoBackup</h3>
						<p>AutoBackup application allows scheduling backup for any file and data type. The Backed up files are stored in a  folder in the user's home directory, limited to 20MB per backup. Users can see a list of files that have been backed up or scheduled for backup in a table and they can easily manage them. This application also provides a useful feature which enables users to keep track of the changes made to the files and make comparison between the files that are already backed up and newer version of those files.</p><br>
						<p>NOTE: Location for storing backups on window: <br> C:\users\%username%\AutoBackup\Backups</p> <br>
						<p>NOTE: Location for storing backups on Linux: <br> /root/AutoBackup/Backups</p>
					</div>
				</div>
			</div>
			
			<div class="container2">
				<h1>Track your backups</h1>
				<p>This feature allows you to see how your newly modified file compares to the one you have already backed up. <br> Supported file types include (.docx , .pdf , .txt , .java , .py)</p>
				
				<form action="/compareForm" method="post" id="comparison" enctype="multipart/form-data">
					<select id="selectBackup" name="selectBackup" required="required" style="width: 70%;">
						<option value="" disabled selected>Select a completed backup</option>
					    <option th:each="doneBackup : ${doneBackupList}" th:value="${doneBackup}" th:text="${doneBackup}">
					    </option>
					</select><br>
					<label id="file-name1"></label>
				
					<div>	
						<label class="container2-button" style="width: 70%;">
							<i class="fa fa-file"></i> Select a file to compare<input type="file" name="file" id="folderName2" accept=".pdf, .docx, .txt, .java, .py" style="display: none;" required="required">
						</label><br>
						<label id="file-name2"></label>
					</div>
					
                    <input type="submit" class="container2-button" value="Compare" style="width: 70%;">
				</form>
			</div>

			<div class='container3'>
				<div class='inner-container3'>
					<h1>Features</h1>
					<div class='container3-content'>
						<div class='container3-card'>
							<div class='container3-icon'>
								<i class='fa fa-paste'></i>
							</div>
							<h3>Schedule Backup</h3>
							<p>Using AutoBackup application, you can take advantage of creating backup copy of your important files, then the backup job should run at the scheduled time and perform a full backup.</p>
						</div>

						<div class='container3-card'>
							<div class='container3-icon'>
								<i class='fa fa-pie-chart'></i>
							</div>
							<h3>Graph</h3>
							<p>The data in the table is presented in a summarised form that helps you to understand the backups as well as to manage them easily. A graph is also used to present the data in a form that is easy for you to understand.</p>
						</div>

						<div class='container3-card'>
							<div class='container3-icon'>
								<i class='fa fa-file-text'></i>
							</div>
							<h3>Track Changes</h3>
							<p>This feature can be used as a quick way to see if there is any difference between two files by comparing them side by side. the differences are highlighted in red and green colours.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer" id="contact">	
			<h2>Thanks For Using AutoBackup Application</h2>
			<i style='font-size:50px; padding-bottom: 50px; padding-top: 20px;' class='	fa fa-thumbs-up'></i>
		</div>
		
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/highcharts-3d.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>	
		
		<script th:inline="javascript">
		
			$(document).ready(function(){
			    $('#myTableTag').dataTable({
			    	"pageLength": 5,
			    	language: {
			            searchPlaceholder: " Search Backups",
			            search: "",
			        },
			        lengthMenu: [5, 10, 20],
			    });
			});
		
			document.querySelector("#selectBackup").onchange = function(){
				var selectedId = document.getElementById("selectBackup");
				var theBackupList = [[${backups}]]
			    for (i = 0; i < theBackupList.length; i++) {
			        if(theBackupList[i].id === parseInt(selectedId.value)){
			        	document.querySelector("#file-name1").textContent = theBackupList[i].folderName;
			        }
			    }
			}
			
			document.querySelector("#folderName2").onchange = function(){
			  document.querySelector("#file-name2").textContent = this.files[0].name;
			}
		
			var chartDiv = document.getElementById("myChart");
			if([[${InProgress}]] === null && [[${Done}]] === null && [[${Failed}]] === null || [[${InProgress}]] === 0 && [[${Done}]] === 0 && [[${Failed}]] === 0) { //or empty or whataver
				chartDiv.style.display = 'none';
			} else {
				chartDiv.style.display = 'block';
			}
			
			var tableDiv = document.getElementById("myTable");
			if([[${backups}]] === null || [[${backups}]].length === 0) { //or empty or whataver
				tableDiv.style.display = 'none';
			} else {
				tableDiv.style.display = 'block';
			}
			
			var comparisonDiv = document.getElementById("comparison");
			if([[${doneBackupList}]] === null || [[${doneBackupList}]].length === 0) { //or empty or whataver
				comparisonDiv.style.display = 'none';
			} else {
				comparisonDiv.style.display = 'block';
			}
			
			Highcharts.chart('myChart', {
				chart : {
					type : 'pie',
					options3d : {
						enabled : true,
						alpha : 50,
						beta : 0
					}
				},
				title : {
					text : 'Result Status'
				},
				tooltip : {
					pointFormat : 'Number of backups: <b>{point.y}</b><br>{series.name}: <b>{point.percentage:.1f}%</b>'
				},
				plotOptions : {
					pie : {
						allowPointSelect : true,
						cursor : 'pointer',
						depth : 35,
						dataLabels : {
							enabled : true,
							format : '{point.name}'
						}
					}
				},
				series : [ {
					type : 'pie',
					name : 'Ratio',
					data: [{ name: 'In Progress', y: [[${InProgress}]] },
	                    { name: 'Done', y: [[${Done}]] },
	                    { name: 'Failed', y: [[${Failed}]] }]
				} ]
			});
		</script>
	</body> 
</html>
